@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1280px;
  margin-right: 0px;
  margin-left: 30 px;
  padding-right: 0px;
}
h1,
h2 {
  font-weight: 600;
}
p {
  margin-bottom: 7px;
}
.form-select:focus {
  border-color: #a8b5c8cc;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.btn-primary-custom {
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  color: #ffff !important;
  padding: 10px 10px !important;
}
a.btn.btn-primary-custom :hover {
  border: 1px solid gray;
  color: black !important;
}
.header-mini a {
  /* background-image: url("../assets/img/GreatLand-Tours.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:85% 99%;
    height: 118px;
    display: block; */
}
.head-logo {
  margin-top: 20px;
}
.reserve {
  font-size: 25px;
  padding-left: 4px;
}
.head-call a {
  font-size: 25px;
  text-decoration: none;
  color: #7cd030;
}
.head-call {
  padding: 32px 0px;
}
.phone img {
  vertical-align: baseline;
}
#header ul {
  list-style: none;
  color: #fff;
  margin-bottom: 0px;
}
#header ul li {
  display: inline-block;
  /* margin: 22px 0px; */
}
#header ul li a {
  text-decoration: none;
  padding: 22px 30px;
  font-size: 16px;
  color: #000;
}
.main1 {
  background-image: url("/images/bg-main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #f06224;
}
.main2 {
  background-image: url("/images/bg-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #2172b3;
}
.main3 {
  background-image: url("/images/bg-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #5f27bd;
}

#header i.fa.fa-chevron-down.small {
  font-size: 13px;
  padding-left: 3px;
}
#header .btn-outline-secondary {
  padding: 10px 10px !important;
  margin: 10px 0px;
}
#header .btn-outline-secondary:hover {
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  color: #ffff !important;
}
#header ul li a.active {
  color: #dcdada;
}
#header ul.submenu {
  list-style: none;
  padding-left: 0px;
  border-radius: 3px;
  background: white;
  padding: 10px 4px;
  position: absolute;
  top: 81px;
  width: 230px;
  font-size: 15px;
  z-index: 9;
}

#header .submenu li {
  padding: 0px 12px !important;
  display: inline-block;
  margin-top: 8px !important;
  position: relative;
}
#header .submenu li a {
  font-size: 15px !important;
  font-weight: 600;
  color: black !important;
  padding: 0px;
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* #header ul.submenu li a:hover:before{
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    background-color: #e6c363;
    left: 6px;
    top: 0px;
    transition: all 0.4s ease-in-out;
} */
ul.submenu {
  display: none;
}
ul.submenu {
  display: none;
}
li:hover .submenu {
  display: block;
}

.bus {
  margin-top: 22px;
  position: absolute;
  width: 52%;
  left: 0px;
}
.casino-para {
  color: white;
  font-size: 26px;
  padding: 90px 18px;
}
.casino-para p.fix {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.green-drive {
  color: #92fc43;
  text-shadow: 1px 0px 1px #000000a1;
  font-size: 28px;
}
i.fas.fa-chevron-right {
  font-size: 18px;
  padding-left: 12px;
}
.learn a.btn-success {
  border: 1px solid white !important;
  padding: 10px 35px;
  font-size: 21px;
  text-transform: uppercase;
  transition: all 0.2s;
  background: white;
  color: #2172b3;
}
.learn a.btn-success:hover {
  padding: 10px 35px;
  font-size: 21px;
  text-transform: uppercase;
  background: #f0612400;
  color: #ffffff;
}
.learn a.btn-outline-success {
  border: 1px solid white !important;
  padding: 10px 35px;
  font-size: 21px;
  text-transform: uppercase;
  transition: all 0.2s;
  color: #fff;
}
.learn a.btn-outline-success:hover {
  padding: 10px 35px;
  font-size: 21px;
  text-transform: uppercase;
  background: #ffffff;
  color: #2172b3;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}
#main ul {
  list-style-image: url("/images/tick.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  padding-top: 20px;
}
.learn {
  padding-top: 20px;
}
#main ul li {
  font-size: 20px;
}

#greatland-tour {
  padding: 120px 30px 50px 30px;
  text-align: center;
}
.dark-green {
  color: #457a13;
}
#greatland-tour h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 38px;
}
p.offer {
  padding: 20px 20px;
  font-size: 18px;
  letter-spacing: 1px;
}
.slide-section {
  padding: 0px 0px;
}
.owl-prev span {
  display: none;
}
.owl-next span {
  display: none;
}

.owl-nav button.owl-prev {
  background-image: url("/images/back.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 60% !important;
  position: absolute;
  font-size: 32px !important;
  left: -48px;
  top: 50%;
  border: 2px solid #6ab821 !important;
  border-radius: 50px !important;
  width: 35px;
  height: 35px;
}
.owl-nav button.owl-next {
  background-image: url("/images/far.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 60% !important;
  position: absolute;
  font-size: 32px !important;
  right: -48px;
  top: 50%;
  border: 2px solid #6ab821 !important;
  border-radius: 50px !important;
  width: 35px;
  height: 35px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #f3a2a2;
  color: #fff;
  text-decoration: none;
}
#greatland-tour .card.rounded-0 {
  padding: 7px;
  border: 1px solid #c0c0c040;
  box-shadow: 0px 0px 2px 1px #c0c0c047;
  margin: 0px 8px;
  min-height: 498px;
}
#greatland-tour .card-image {
  width: 100%;
  height: 202px;
}
#greatland-tour p.card-text {
  color: #2d2d2dcc;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#greatland-tour h5.card-title {
  font-weight: 900;
  color: #6ab821;
}
#greatland-tour a.btn.btn-primary {
  background: #6ab821 !important;
  border: 1px solid #6ab821 !important;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 35px;
}
button.btn.btn-primary {
  background: #6ab821 !important;
  border: 1px solid #6ab821 !important;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 35px;
}
#greatland-tour a.btn.btn-primary:hover {
  background: transparent;
  border: 1px solid #6ab821;
  color: #2d2d2dcc;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 35px;
}
section#about {
  padding: 90px 75px;
}
#about p {
  color: #2d2d2dcc;
  letter-spacing: 1px;
  line-height: 27px;
  display: -webkit-box;
  -webkit-line-clamp: 16;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#about a.btn.btn-primary {
  background: #6ab821;
  border: 1px solid #6ab821;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 35px;
}
#about a.btn.btn-primary:hover {
  background: transparent;
  border: 1px solid #6ab821;
  color: #2d2d2dcc;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 35px;
}
.casino-bus img {
  width: 100%;
  height: 565px;
}
.casino-bus2 img {
  width: 74%;
  height: 350px;
}
#upload {
  padding: 36px 50px;
  background-image: url("/images/BG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.card-dot {
  border: #879fb5;
  border-style: dotted;
  border-spacing: 82px;
  border-radius: 10px;
  padding: 30px 22px;
  text-align: center;
}
#upload .btn.btn-outline-success {
  border: 1px solid white;
  background: none;
}
.upload-text {
  padding: 77px 10px;
}
#ATS {
  padding: 45px 20px;
}
#ATS .btn-primary-custom {
  margin-top: 20px;
  padding: 10px 30px !important;
}
#testimonial {
  padding: 56px 50px;
  background-image: url("/images/BG-test.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.test-img img {
  border-radius: 50px;
  border: 4px solid #837dd3;
  width: 90px;
  height: 90px;
  margin-top: 30px;
}
#promo {
  padding: 50px;
}
#promo .card {
  border: none;
  box-shadow: 0px 0px 5px 1px silver;
}
#promo h4 {
  color: #2172b3;
}
#knowledge {
  padding: 50px 50px;
  background: #f3f5f9;
}
#knowledge h3 {
  color: #2172b3;
}
#refer {
  background-image: url("/images/Group249.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 50px 50px;
}
#refer h3 span {
  color: #ed9845;
}
#latest-media {
  padding: 50px 50px;
}
#latest-media h3 {
  color: #2172b3;
}

#latest-media h5 {
  color: #2172b3;
}
#latest-media .card {
  border: none;
  border-bottom: 3px solid #2172b3 !important;
}
#latest-media .card-body {
  background: #f3f5f9;
}
#footer {
  background-image: url("/images/BG-foot.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 30px 0px;
}
.footer-logo a {
  background-image: url("/images/Logo-ft.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85% 99%;
  height: 36px;
  display: block;
}
ul.social-footer {
  width: 300px;
}
ul.social-footer li {
  display: inline-block;
  margin: 0px 9px;
}
#footer ul {
  padding-left: 0px;
}
#footer ul li {
  list-style: none;
  padding: 5px 0px;
  position: relative;
}
#footer ul li a {
  text-decoration: none;
  color: white;
}
#footer ul li a:hover {
  color: #dcdada;
}
#footer .green {
  color: #ffff;
  font-size: 17px;
  margin-bottom: 15px;
  font-weight: 600;
}
#footer i.fas.fa-chevron-down {
  font-size: 11px;
  padding-left: 4px;
}
#footer ul.submenu {
  list-style: none;
  padding-left: 0px;
  border: 1px solid #d8d6d6;
  background: white;
  padding: 0px;
  position: absolute;
  top: 24px;
  width: 226px;
  font-size: 15px;
  z-index: 9;
}
#footer .submenu li {
  padding: 0px 12px !important;
  margin-top: 8px !important;
  position: relative;
}
#footer .submenu li a {
  font-size: 14px !important;
  color: black !important;
  text-shadow: 1px 1px 2px #6faf33a1;
  padding: 0px;
}
#footer ul.submenu li a:hover {
  background: rgb(111 176 52);
  color: white !important;
  padding: 2px 2px;
}
#footer ul.submenu li a:hover:before {
  content: "";
  width: 4px;
  height: 100%;
  position: absolute;
  background-color: #e6c363;
  left: 6px;
  top: 0px;
  transition: all 0.4s ease-in-out;
}
span.fb-text a {
  font-size: 16px;
  font-weight: 500;
  padding-left: 11px;
  text-decoration: none;
  color: white;
}
.mini-footer p {
  font-size: 17px;
}
.mini-footer .green a {
  color: #6ab821;
  font-weight: 500;
  text-decoration: none;
}
.mini-footer {
  padding-top: 15px;
}
button#toggle-button {
  display: none;
}

/***************** About Us Page Start ***************/
#header h2 {
  color: white;
  padding: 20px 0px;
}
section#about-text {
  padding: 0px 0px 40px 0px;
}
#about-text p {
  color: #2d2d2dcc;
  letter-spacing: 1px;
  line-height: 27px;
  display: -webkit-box;
  -webkit-line-clamp: 16;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
span.black {
  color: black;
  font-weight: 600;
}
.black a {
  text-decoration: none;
  color: #7abf3e;
}
.only-green {
  color: #79be3d !important;
  font-weight: 600;
}
#about ul {
  border-right: 1px solid #0000003d;
  height: 100%;
  list-style: none;
}
#about.career ul {
  border-right: none;
  list-style: none;
}
/* #about ul:last-child{
    border-right: none !important;
} */
#about ul li::before {
  line-height: 1;
  padding-right: 18px;
  content: "✔";
  float: left;
  margin-left: -34px;
  font-size: 1.4em;
  padding-right: 0;
  color: #7abf3e;
}
#about.career ul li:before {
  line-height: 1;
  padding-right: 18px;
  content: "✔";
  float: left;
  margin-left: -34px;
  font-size: 1.9em;
  padding-right: 0;
  color: #000;
}
#about ul li {
  padding: 7px 0px;
  color: #2d2d2dcc;
}

#about.career ul li {
  padding: 12px 0px;
}
.green-card {
  background: #7abf3e;
  border-radius: 3px;
  padding: 35px 50px;
  color: white;
  font-weight: 600;
}
#fleet-tour a {
  text-decoration: none;
  color: white;
}
#fleet-tour {
  padding-bottom: 90px;
}
.pointer {
  vertical-align: top;
}
.side-img {
  display: inline-block;
  width: 77%;
}
.career-bus img {
  width: 100%;
}
#contact-us {
  padding: 90px 75px;
}
.contact-border {
  box-shadow: 0px 0px 15px 0px silver;
  padding: 50px 40px;
  clear: both;
}
#houston-map {
  padding: 0px 0 75px 0;
}
#group-charter {
  padding: 90px 75px 0 75px;
}
.customer-chart img {
  border-radius: 5px;
}
#group {
  background: #efefef;
  margin: 40px 0px;
  padding: 60px 70px;
}
#group h1 {
  font-family: "Roboto Slab";
}
#group h2 {
  font-weight: 500;
  line-height: 43px;
}
#group a {
  text-decoration: none;
  color: #7abf3e;
}
#casino {
  padding: 90px 75px;
}
#casino p {
  letter-spacing: 1.3px;
}
#casino .card {
  padding: 11px 11px;
  border: 1px solid #c0c0c040;
  box-shadow: 0px 0px 54px 0px #c0c0c0a8;
  min-height: 582px;
}
#casino h5.card-title {
  font-weight: 600;
  color: #6ab821;
}
#casino .card-image.rounded {
  width: 100%;
  height: 202px;
}
#casino ul {
  list-style: none;
}
#casino ul li {
  padding: 7px 0px;
  color: #2d2d2dcc;
}
#casino ul li::before {
  line-height: 1;
  padding-right: 18px;
  content: "✔";
  float: left;
  margin-left: -34px;
  font-size: 1.5em;
  padding-right: 0;
  color: black;
}
.mt-top-5 {
  margin-top: 6rem;
}
#reserve {
  padding: 50px 75px 70px 75px;
}
#reserve table tbody td a {
  text-decoration: none;
  color: #474747d1;
}
#reserve tr {
  border-bottom: transparent;
}
#houston {
  padding: 20px 75px 50px 75px;
}
#houston h3 {
  margin: 15px 0px;
}
#houston h5 {
  display: inline-block;
  width: 33%;
  border-right: 1px solid silver;
  padding: 20px 0px;
}
#houston h5.received {
  display: inline-block;
  width: 45%;
  padding-left: 11px;
  border: none;
}
#houston .only-green {
  font-size: 18px;
}
#houston th {
  border-right: 1px solid silver;
  background: #666 !important;
  color: white;
  font-weight: 500;
}
#houston td {
  border-right: 1px solid silver;
}
#houston td:last-child {
  border-right: none;
}
#houston a.btn.btn-danger {
  border-radius: 0px;
  background: #d92632;
  border-color: #d92632;
}
#houston input {
  padding: 0px 0px;
  height: 26px;
  width: 100%;
}
#houston label {
  font-size: 14px;
}
#houston .ticket-no {
  background: red;
  color: white;
  font-weight: 600;
  padding: 1px 5px;
}
#houston input.varify {
  width: 10%;
  margin-left: 10px;
}
button.btn.btn-default {
  background: black !important;
  color: white !important;
  padding: 4px 20px;
  border-radius: 0px;
  display: inline-block;
}
button.btn.btn-default:hover {
  background: rgba(0, 0, 0, 0.671) !important;
  color: white !important;
  padding: 4px 20px;
  border-radius: 0px;
}
button.btn.btn-def-danger {
  background: #dc001f !important;
  color: white !important;
  padding: 4px 20px;
  border-radius: 0px;
  display: inline-block;
  margin-left: 8px;
}
button.btn.btn-def-danger:hover {
  background: #a4061c !important;
  color: white !important;
  padding: 4px 20px;
  border-radius: 0px;
}
/***************** About Us Page End ***************/

/******************Mobile responsive*****************/

@media print {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  title {
    display: none !important;
  }
  button.btn.btn-default {
    display: none;
  }
  button.btn.btn-def-danger {
    display: none;
  }
}

@media (max-width: 1024px) {
  #header ul {
    margin: 0 auto;
    padding-left: 0px;
  }
  #header ul li a {
    padding: 14px 16px;
    font-size: 19px;
  }
  .head-call a {
    font-size: 22px;
  }
  .reserve {
    font-size: 22px;
    padding-left: 4px;
  }
  .owl-nav button.owl-next {
    right: -40px;
  }
  .owl-nav button.owl-prev {
    left: -40px;
  }
  #header h2 {
    padding: 20px 35px;
  }
  .mtop-2 {
    margin-top: -1.5rem;
  }
  .customer-chart img {
    width: 100%;
  }
  #casino .card {
    min-height: 711px;
  }
  section#about {
    padding: 60px 20px;
  }
  #houston {
    padding: 20px 15px 50px 15px;
  }
  #houston input {
    margin-left: 1px;
  }
  #houston input.varify {
    margin-left: 1px;
  }
  #houston a.btn.btn-danger {
    padding: 7px 1px;
  }
}

@media (max-width: 768px) {
  #header ul li a {
    padding: 14px 6px;
    font-size: 17px;
  }
  .reserve {
    font-size: 16px;
    padding-left: 4px;
  }
  .head-call a {
    font-size: 16px;
  }
  .phone img {
    width: 6%;
  }
  .casino-para {
    font-size: 21px;
  }
  #greatland-tour {
    padding: 50px 30px 50px 30px;
  }
  section#about {
    padding: 30px 25px;
  }
  #greatland-tour a.btn.btn-primary {
    padding: 15px 28px;
  }
  #greatland-tour .card.rounded-0 {
    min-height: 524px;
  }
  #casino-group .card {
    padding: 70px 41px;
  }
  .fancy-card a.btn.btn-outline-secondary.text-center {
    padding: 12px 15px;
  }
  .fancy-card a.btn.btn-outline-secondary:hover {
    padding: 12px 4px;
  }
  .fancy-card p {
    font-size: 28px;
  }
  #call-and-talk .card {
    padding: 60px 30px;
  }
  .mic-img img {
    width: 39px;
  }
  #call-and-talk .card.black {
    padding: 60px 30px;
  }
  .mic-text {
    letter-spacing: 1px;
  }
  #call-and-talk .card {
    min-height: 492px;
  }
  #header h2 {
    padding: 20px 35px;
  }
  #about.career ul li {
    padding: 5px 0px;
  }
  .casino-bus2 img {
    width: 100%;
  }
  .customer-chart img {
    width: 100%;
  }
  #group-charter {
    padding: 50px 35px 0 35px;
  }
  #casino {
    padding: 50px 25px;
  }
  #casino .card {
    min-height: 832px;
  }
  #about.career ul {
    margin-bottom: 0px;
  }
  #fleet-tour {
    padding: 50px 0px;
  }
  #houston-map {
    padding: 0px 0 15px 0;
  }
  #contact-us {
    padding: 90px 0px;
  }
  .mt-top-5 {
    margin-top: 4rem;
  }
  #houston {
    padding: 20px 25px 50px 25px;
  }
  #houston a.btn.btn-danger {
    padding: 7px 1px;
  }
  #houston input {
    margin-left: 1px;
    margin-top: 1px;
  }
}
@media (max-width: 600px) {
  /************ Collapse menu *********/
  button#toggle-button {
    display: block;
  }
  ul.menu li a {
    display: block;
    padding: 7px 16px !important;
  }
  .menu {
    display: none;
    position: absolute;
    top: 69px;
    width: 100%;
    z-index: 9;
    left: 0;
  }
  .navbar-header {
    position: absolute;
    right: 15px;
    top: 13px;
    float: none;
    display: block;
  }
  .navbar-header .collapse-button {
    background: none;
    border: none;
    height: 38px;
    transition: all 450ms ease-out 0s;
    width: 98%;
    vertical-align: middle;
    border-radius: 3px;
    padding: 10px 10px;
    margin-right: 0px;
  }
  .navbar-header .collapse-button span {
    display: block;
    width: 26px;
    height: 3px;
    margin-bottom: 5px;
    background: #fff;
  }
  nav.nav {
    display: block;
  }
  .nav li {
    margin-left: 0;
    display: block !important;
    width: 100%;
  }
  .nav li a {
    text-align: left;
  }
  ul.menu li {
    list-style: none;
    display: inline-block;
    padding: 6px 4px !important;
    color: white;
    margin-top: 2px;
    line-height: 1;
  }

  ul.menu {
    background: #1a7b24;
    margin-top: -13px;
    width: 95%;
    border-radius: 5px;
    margin: 0px 9px !important;
  }
  ul.nav li a {
    padding: 10px 7px;
    background: white;
    border-radius: 3px;
  }
  #header ul li {
    margin-top: 0px;
  }
  #header ul li a:hover {
    background: #fad06e;
    border-radius: 5px;
    color: #0a0a0a;
  }
  #header ul.submenu {
    top: 86px;
  }

  /************ Collapse menu End *********/

  #casino-group .card {
    width: 100%;
    padding: 47px 12px;
  }
  .fancy-card p {
    font-size: 18px;
  }
  .fancy-card a.btn.btn-outline-secondary.text-center {
    width: 40%;
    padding: 8px 16px;
    font-size: 15px;
  }
  section#about {
    padding: 20px 8px;
  }
  #about a.btn.btn-primary {
    padding: 10px 25px;
  }
  #about a.btn.btn-primary:hover {
    padding: 10px 25px;
  }
  #call-and-talk a.btn.btn-primary {
    padding: 8px 20px;
  }
  #greatland-tour a.btn.btn-primary {
    padding: 7px 23px;
  }
  #greatland-tour a.btn.btn-primary:hover {
    padding: 7px 23px;
  }
  .owl-nav button.owl-next {
    right: -37px;
  }
  .owl-nav button.owl-prev {
    left: -37px;
  }
  #call-and-talk .card {
    padding: 35px 25px;
  }
  #call-and-talk .card.black {
    padding: 35px 20px;
  }
  .mic-img img {
    width: 85%;
  }
  #call-and-talk {
    padding: 50px 0px;
  }
  .bus {
    margin-top: 22px;
    position: unset;
    width: 100%;
  }
  .casino-para {
    color: white;
    font-size: 17px;
    padding: 5px 18px;
  }
  #greatland-tour {
    padding: 35px 24px 35px 24px;
  }
  p.offer {
    padding: 20px 0px;
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  #greatland-tour h1 {
    font-size: 22px;
    line-height: 31px;
  }
  .learn {
    padding-bottom: 16px;
  }
  .learn a {
    padding: 8px 14px;
    font-size: 18px;
  }
  .learn a:hover {
    border: 4px solid #dcaf5c !important;
    padding: 8px 14px;
    font-size: 18px;
  }
  #header ul li a {
    font-weight: 500;
  }
  i.fas.fa-chevron-right {
    font-size: 14px;
    padding-left: 5px;
    vertical-align: middle;
  }
  .head-main {
    background: none;
    height: 0px;
  }
  .header-mini a {
    /* background-image: url(../assets/img/GreatLand-Tours.png);
    background-position: left;
    background-size: 28% 80%;
    height: 75px; */
  }
  .phone img {
    vertical-align: baseline;
    width: 16px;
  }
  .reserve {
    font-size: 14px;
    padding-left: 4px;
  }
  .head-call a {
    font-size: 13px;
    text-decoration: none;
    color: #7cd030;
  }
  .head-call {
    padding: 0px 0px;
  }
  .footer-logo a {
    background-size: 73% 100%;
    height: 82px;
  }
  #footer {
    padding: 40px 14px;
  }
  #casino {
    padding: 30px 15px;
  }
  .casino-bus2 img {
    width: 100%;
  }
  #header h2 {
    color: white;
    padding: 20px 34px;
  }
  .side-img {
    width: 100%;
  }
  .pointer {
    display: none;
  }
  #fleet-tour {
    padding-bottom: 50px;
  }
  #contact-us {
    padding: 40px 15px;
  }
  #houston-map {
    padding: 0px 0 40px 0;
  }
  #group-charter {
    padding: 40px 15px 0 15px;
  }
  #about ul {
    border-right: none;
    padding-bottom: 29px;
  }
  .customer-chart img {
    width: 100%;
    padding-bottom: 10px;
  }
  #group h2 {
    font-size: 21px;
  }
  #group {
    margin: 0 0 40px 0px;
    padding: 60px 15px;
  }
  .green-card {
    padding: 35px 35px;
  }
  .contact-border {
    padding: 40px 20px;
  }
  .mt-top-5 {
    margin-top: 3rem;
  }
  #houston {
    padding: 20px 11px 50px 11px;
  }
  #houston h5 {
    width: 40%;
  }
  #houston h5.received {
    width: 45%;
  }
  #houston a.btn.btn-danger {
    padding: 7px 1px;
  }
  #houston input.varify {
    width: 19%;
    margin-left: 10px;
  }
  #reserve {
    padding: 30px 15px 30px 15px;
  }
  #reserve table tbody td a {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
}
@media (max-width: 320px) {
  .casino-para {
    color: white;
  }
  .fancy-card h1 {
    font-weight: 900;
    font-size: 23px;
  }
  .fancy-card p {
    font-size: 16px;
  }
  .fancy-card a.btn.btn-outline-secondary.text-center {
    padding: 6px 10px;
  }
  #call-and-talk p.pb-1 {
    font-size: 13px;
  }
  .mic-text {
    letter-spacing: 0px;
  }
}

#best-service {
  padding: 45px 20px;
}
#best-service h3 {
  color: #2172b3;
}
#best-service h4 {
  color: #2172b3;
}
ul#myTab {
  border-bottom: 0px;
}
/* button#resume-tab {
  box-shadow: 0px 0px 5px 1px silver;
  border-radius: 8px;
}
button#resume-tab {
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  color: white;
  position: relative;
  margin-right: 30px;
}
button#resume-tab::after {
  content: "";
  left: 86px;
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -14px;
  transform: rotate(50deg);
  z-index: -1;
}
button#professional-tab {
  box-shadow: 0px 0px 5px 1px silver;
  border-radius: 8px;
  margin-right: 30px;
}
button#professional-tab:hover {
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  color: white;
  position: relative;
}
button#professional-tab::after {
  content: "";
  left: 86px;
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -14px;
  transform: rotate(50deg);
  z-index: -1;
}
button#linkedin-tab {
  box-shadow: 0px 0px 5px 1px silver;
  border-radius: 8px;
  margin-right: 30px;
}
button#linkedin-tab:hover {
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  color: white;
  position: relative;
}
button#linkedin-tab::after {
  content: "";
  left: 86px;
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -14px;
  transform: rotate(50deg);
  z-index: -1;
}
button#interview-tab {
  box-shadow: 0px 0px 5px 1px silver;
  border-radius: 8px;
  margin-right: 30px;
}
button#interview-tab:hover {
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  color: white;
  position: relative;
}
button#interview-tab::after {
  content: "";
  left: 86px;
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -14px;
  transform: rotate(50deg);
  z-index: -1;
} */

/* .card {
  max-width: 1000px;
  margin: 2vh;
}
.card-top {
  padding: 0.7rem 5rem;
}
.card-top a {
  float: left;
  margin-top: 0.7rem;
}
#logo {
  font-family: "Dancing Script";
  font-weight: bold;
  font-size: 1.6rem;
}
.card-body {
  padding: 0 5rem 5rem 5rem;
  background-image: url("https://i.imgur.com/4bg1e6u.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .card-body {
    padding: 0 1rem 1rem 1rem;
    background-image: url("https://i.imgur.com/4bg1e6u.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card-top {
    padding: 0.7rem 1rem;
  }
}
.row {
  margin: 0;
}
.upper {
  padding: 1rem 0;
  justify-content: space-evenly;
}
#three {
  border-radius: 1rem;
  width: 22px;
  height: 22px;
  margin-right: 3px;
  border: 1px solid blue;
  text-align: center;
  display: inline-block;
}
#payment {
  margin: 0;
  color: blue;
}
.icons {
  margin-left: auto;
}
form span {
  color: rgb(179, 179, 179);
}
form {
  padding: 2vh 0;
}
input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
.header {
  font-size: 1.5rem;
}
.left {
  background-color: #ffffff;
  padding: 2vh;
}
.left img {
  width: 2rem;
}
.left .col-4 {
  padding-left: 0;
}
.right .item {
  padding: 0.3rem 0;
}
.right {
  background-color: #ffffff;
  padding: 2vh;
}
.col-8 {
  padding: 0 1vh;
}
.lower {
  line-height: 2;
}
.btn {
  background-color: rgb(23, 4, 189);
  border-color: rgb(23, 4, 189);
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin: 4vh 0 1.5vh 0;
  padding: 1.5vh;
  border-radius: 0;
}
.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}
.btn:hover {
  color: white;
}
a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}
input[type="checkbox"] {
  width: unset;
  margin-bottom: unset;
}
#cvv {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.575),
      rgba(255, 255, 255, 0.541)
    ),
    url("https://img.icons8.com/material-outlined/24/000000/help.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
} */

#pricing {
  padding: 70px 50px;
}
#pricing .card-header {
  background-image: url("/images/Vector.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  border-radius: 12px 12px 0px 0px;
}
#pricing .card {
  border-radius: 13px;
}
#pricing h3 {
  color: #2172b3;
}
button.w-100.btn.btn-lg.btn-outline-primary {
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  color: #ffff !important;
  padding: 6px 0px;
}
#pricing ul {
  list-style-image: url(/images/green-tick.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  padding-top: 20px;
  margin-bottom: 0px;
}
#pricing .text-silver {
  color: silver;
}
#pricing ul.text-silver {
  list-style-image: url(/images/cross.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  padding-top: 2px;
}
#pricing hr {
  margin: 10px 0px;
}
#benefit {
  padding: 70px 50px;
  background: #f3f5f9;
}
#benefit h3 {
  color: #2172b3;
}

#payment {
  padding: 70px 50px;
}
#payment .card {
  background: #f8f9fa;
  border: none;
}
.pay-block {
  padding: 20px;
}
#payment .card-header {
  background: #ec6224;
  color: white;
}
#payment .card-header.pop {
  background: #d5b7c5;
  color: white;
  text-align: center;
}
small {
  font-size: 11px !important;
}
.social {
  font-size: 12px;
  margin-top: 12px;
}
#payment .btn.btn-secondary {
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
  color: #ffff !important;
  padding: 8px 30px !important;
  width: 20%;
  margin-top: 10px;
}
#payment .form-label {
  color: silver;
}
#payment .right {
  float: right;
}
#payment label.form-check-label {
  color: #c7c7c7;
}
#payment .dark {
  color: #181717 !important;
}
#payment .btn.btn-light {
  padding: 2px 4px;
  float: right;
}
/******Indicator Start******/
.form-header {
  gap: 5px;
  text-align: center;
  font-size: 0.9em;
}
.form-header .stepIndicator {
  position: relative;
  flex: 1;
  padding-bottom: 30px;
  margin-right: 30px;
}
.mb-4rem {
  margin-bottom: 4rem !important;
}
.form-header .stepIndicator.active {
  font-weight: 600;
}
.form-header .stepIndicator.finish {
  font-weight: 600;
  color: #009688;
}
.form-header .stepIndicator::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #4e95dd;
  border-radius: 50%;
  border: 3px solid #c3e4e9;
}

.form-header .stepIndicator.active::before {
  background-color: #a7ede8;
  border: 3px solid #d5f9f6;
}
.form-header .stepIndicator.finish::before {
  background-color: #009688;
  border: 3px solid #b7e1dd;
}
.form-header .stepIndicator::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 100%;
  height: 3px;
  background-color: #f3f3f3;
}
.form-header .stepIndicator.active::after {
  background-color: #a7ede8;
}
.form-header .stepIndicator.finish::after {
  background-color: #009688;
}
.form-header .stepIndicator:last-child:after {
  display: none;
}
/*****indicator End*******/

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe73;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}
.form-control::-webkit-input-placeholder {
  color: rgb(211, 211, 211);
  font-size: 14px;
}
.form-control::-webkit-input-placeholder {
  color: rgb(211, 211, 211);
  font-size: 14px;
}
.blue {
  color: #3264aa;
}
#doule-form {
  padding-bottom: 80px;
  margin-top: -33px;
}
#doule-form .bg-2 {
  background-image: linear-gradient(to right, #2172b3, #6e388c, #ec6224);
}
#doule-form .bg-silver {
  background: #f8f9fa;
}
#doule-form .border-round {
  border-radius: 0px 7px 7px 0px;
}
#doule-form .border-round1 {
  border-radius: 7px 0px 0px 7px;
}
.call-card {
  padding: 40px 60px;
  color: white;
}
.ft-big {
  font-size: 22px;
}
.pra-silver {
  color: #dddddd;
}
.sub-form {
  padding: 20px 30px;
}

/* done by hammad */

.faqHeading {
  text-align: center;
}
.faq-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #ffffff;
}

.faq-answer {
  margin-top: 8px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.faq-answer.show {
  max-height: 500px;
  padding: 24px 18px;
}

/* done by hammad */

.main4 {
  background-image: url("/images/standardResume.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main5 {
  background-image: url("/images/federalResume.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main6 {
  background-image: url("/images/militaryResume.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main7 {
  background-image: url("/images/academicCV.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main8 {
  background-image: url("/images/personalStatement.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main9 {
  background-image: url("/images/mockInterview.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main10 {
  background-image: url("/images/professionalCoverLetter.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main11 {
  background-image: url("/images/customizedty.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}
.main12 {
  background-image: url("/images/followup.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main13 {
  background-image: url("/images/salaryNegotiation.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main14 {
  background-image: url("/images/networking.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main15 {
  background-image: url("/images/offerLetter.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main16 {
  background-image: url("/images/militaryCivilian.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}
.main17 {
  background-image: url("/images/careerTranistion.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}

.main18 {
  background-image: url("/images/resumeBg.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ec6224;
}
.main19 {
  background-image: url("/images/linkedinBG.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #bc524c;
}
.main20 {
  background-image: url("/images/interviewPrep.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}
.main21 {
  background-image: url("/images/professionalLetter.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #cd583f;
}

.main22 {
  background-image: url("/images/contact-us.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 97% 100%;
  background-color: #ca5740;
}
